/* Base styles (for larger screens) */
.AddNewTower {
  text-align: left;
}

.AddNewTowerHeader {
  background-color: #0b0f1a;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-left: 20px; */
}

.HeaderContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #1e1816;
}

.Logo {
  width: 120px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 4%; /* Space between logo and back button */
  margin-top: 1%;
  margin-bottom: 1%;
}

.BackButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0px 0px;
  margin-bottom: 1%;
  padding-right: 10px; /* Space between button and title */
}

.HomeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0px 0px;
  padding-left:40px;
  margin-bottom: 1%;
  padding-right: 10px; /* Space between button and title */
}

.BackButtonImage {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}

button {
  cursor: pointer;
}

.Title {
  font-size: 25px;
  /* padding-top: 30px; */
  padding-bottom: 0px;
  margin-left: 1%;
  font-weight: bold;
  color: #fff;
  text-align: center; /* Ensure text is aligned left within the title */
}

.Divider {
  width: 100%; /* Make sure it spans the full width */
  border-bottom: 2px solid #707070; /* Define the bottom border */
  margin-top: -20px; /* Adjust margin to bring the divider closer to the title */
  margin-bottom: 20px; /* Adjust margin to bring the divider closer to the title */
  padding-bottom: 20px; /* Add padding below the divider for spacing */
}

.Content {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 15%;
  margin-top: 2%;
}

.FormGroup {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Input {
  padding: 3px;
  font-size: 16px;
  width: 270px;
  margin: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #0b0f1a;
  color: white;
}

.MenuButton {
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 0.1px solid #ffffff;
  border-radius: 5px;
  background-color: #0b0f1a;
  color: white;
  transition: background-color 0.3s;
}

.MenuButton:hover {
  background-color: #364a82;
}

.Content {
  display: flex;
}

.Form {
  flex: 1;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 550px;
  border: 1px solid #6a6a6a;
  margin-left: 20px;
  margin-top: 40px;
  background-color: #0b0f1a;
}

.TowerImage {
  max-width: 100%;
  max-height: 100%;
  background-color: #0b0f1a;
}

.PreviewText {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}

.Placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #888;
}

.SmallLabel {
  font-size: 14px; /* Adjust the font size as needed */
  width: 100px;
}

.Label {
  font-size: 20px;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left; /* Align text to the left */
}

.SuccessMessage {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Green background for success */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
}

//Swal styles
.custom-swal-popup {
  background-color: #0b0f1a !important;
  border: 1px solid #f27474 !important;
  width: 700px !important;
  height: auto !important;
  border-radius: 15px !important;
}

.custom-swal-title {
  color: #f27474 !important;
}

.custom-swal-content {
  color: #ffffff !important;
  text-align: left !important; /* Align text to the left */
}

div.swal2-html-container {
  color: #ffffff !important;
  text-align: left !important; /* Ensure text is left-aligned */
  white-space: pre-line !important; /* Support for \n line breaks */
}

.custom-swal-confirm-button {
  border: 1.5px solid #f55757!important; /* Define the border width, style, and color */
  border-radius: .25em !important;
  background: initial !important;
  background-color: #0b0f1a !important; /* Custom background color */
  color: #ffffff !important; /* Custom text color */
  font-size: 1em !important;

    &:hover {
    background-color: #364a82 !important; /* Change this to your desired hover color */
    color: #ffffff !important; /* Optional: change text color on hover */
}
}

/* Media queries for responsiveness */

/* Tablet view */
@media (max-width: 768px) {
  .AddNewTowerHeader {
    font-size: calc(8px + 2vmin);
  }

  .HeaderContent {
    flex-direction: row;
    align-items: flex-start;
  }

  .Title {
    font-size: 20px;
  }

  .Content {
    flex-direction: column;
    align-items: center;
  }

  .Form {
    width: 80%;
    margin-left: 0;
  }

  .ImageContainer {

    width: 80%;
    height: auto;
    margin-left: 20px;

  }
}

/* Mobile view */
@media (max-width: 480px) {
  .AddNewTowerHeader {
    font-size: calc(7px + 2vmin);
  }

  .HeaderContent {
    flex-direction: row;
    align-items: flex-start;
  }

  .Logo {
    width: 80px;
  }

  .BackButtonImage {
    width: 20px;
    height: 20px;
  }

  .Title {
    font-size: 18px;
  }

  .Content {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

  }

  .Form {
    width: 100%;
    margin-left: 0;
  }

  .Input {
    width: 90%;
    margin: 10px 0;
  }

  .MenuButton {
    width: 100%;
    font-size: 16px;
  }

  .ImageContainer {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .TowerImage {
    width: 100%;
    height: auto;
  }
}
