.SplashScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; // Change this color as needed
  }
  
  .Logo {
    margin: 0 40px; // Adjust spacing between logos as needed
    width: 100px; // Adjust size as needed
    height: auto;
  }
  